@font-face {
  font-family: "Proxima Nova Bold";
  src: url('/assets/fonts/Proxima Nova Bold.otf') format('opentype'),
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url('/assets/fonts/Proxima Nova Regular.otf') format('opentype'),
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url('/assets/fonts/Proxima Nova Light.otf') format('opentype'),
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url('/assets/fonts/Proxima Nova Semibold.otf') format('opentype'),
}

@font-face {
  font-family: "SourceSansPro-Black";
  src: url('/assets/fonts/SourceSansPro-Black.otf') format('opentype'),
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url('/assets/fonts/SourceSansPro-Bold.otf') format('opentype'),
}

@font-face {
  font-family: "SourceSansPro-It";
  src: url('/assets/fonts/SourceSansPro-It.otf') format('opentype'),
}

@font-face {
  font-family: "SourceSansPro-Light";
  src: url('/assets/fonts/SourceSansPro-Light.otf') format('opentype'),
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url('/assets/fonts/SourceSansPro-Regular.otf') format('opentype'),
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url('/assets/fonts/SourceSansPro-Semibold.otf') format('opentype'),
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url('/assets/fonts/Montserrat-Bold.otf') format('opentype'),
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url('/assets/fonts/Montserrat-Medium.otf') format('opentype'),
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('/assets/fonts/Montserrat-Regular.otf') format('opentype'),
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url('/assets/fonts/Montserrat-SemiBold.otf') format('opentype'),
}
