$brand-primary: #3ecf8c;
$gray-darkest: #1e2046;
$gray-light: #888888;
$dark-blue: #1e2046;
$backoffice-regular: 'Proxima Nova Regular',
sans-serif;
$backoffice-semibold: 'Proxima Nova Semibold',
sans-serif;
$backoffice-bold: 'Proxima Nova Bold',
sans-serif;
$backoffice-light: 'Proxima Nova Light',
sans-serif;
$landing-regular: 'SourceSansPro-Regular',
sans-serif;
$landing-semibold: 'SourceSansPro-Semibold',
sans-serif;
$landing-bold: 'SourceSansPro-Bold',
sans-serif;
$landing-italic: 'SourceSansPro-It', 
sans-serif;
$landing-black: 'SourceSansPro-Black',
sans-serif;