@import 'src/styles/variables';
@import 'src/styles/fonts';
.component-site-home {
  height: 100%; // @media (max-width: 576px) {
  //      height: auto;
  //  }
  //Full screen
  .cmp-full-screen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: $gray-darkest;
    position: relative;
    padding-top: 10rem;
    float: left;
    padding-bottom: 3rem;
    @media(max-height: 600px) {
      height: auto;
    } //      @media(max-width: 400px) {
    //        height: auto;
    //  }
    // @media(max-width: 660px) {
    // padding-top: 7.5rem;
    // }
    .text-main {
      color: #fff;
      font-size: 4.25rem;
      font-family: $backoffice-bold;
      padding-bottom: 7rem;
      max-width: 56.25rem;
      margin: 0 auto;
      @media(max-width: 660px) {
        padding-bottom: 3rem;
      }
      @media(max-width: 500px) {
        font-size: 2.5rem;
      }
    }
    .text-primary {
      border-bottom: 2px solid $brand-primary;
    }
    .btn-outline-primary {
      border-radius: 2rem;
      width: 15rem;
      font-size: 1.375rem;
      margin: 0.3rem 0.6rem;
      border: 3px solid $brand-primary;
      height: 3.75rem;
      padding-top: 0;
      padding-bottom: 0;
      font-family: $backoffice-regular; // @media(max-width: 350px) {
      //     width: 11rem;
      //     height: 2.5rem;
      //     font-size: 1rem;
      // }
      @media(max-width: 991px) {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }
      .btn-outline-primary:hover {
        border: 3px solid #6ee7b0;
        background: #3ecf8c;
        color: #6ee7b0;
      }
      .active {
        box-shadow: 1px 3px 12px 0px #000417;
        background: #3ecf8c !important;
      }
      .active:hover {
        background: #6ee7b0;
        border: 3px solid #6ee7b0;
        color: #fff;
        box-shadow: none;
      }
      .btn-outline-primary:focus {
        outline: none;
      }
      .btn-outline-primary:focus:hover {
        color: #fff;
        background: #6ee7b0;
      }
    }
    .active {
      box-shadow: 1px 3px 12px 0px #000417;
      background: #3ecf8c !important;
    }
  } // ---------- MODAL WINDOW ------------
  .modal {
    display: table;
    height: 100% !important;
    table-layout: fixed;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 100%;
    outline: none;
    min-width: 300px;
    opacity: 1;
    .modal-opacity {
      background-color: rgba(26, 29, 31, .8);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
    .wrapper-modal {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      @media(max-width: 768px) {
        &:hover {
          .arrow-left {
            display: block;
          }
          .arrow-right {
            display: block;
          }
        }
      }
    }
    .cancel{
        right: -2.25rem;
        position: absolute;
        background: #fff;
        background: none;
        border: none;
        padding: 0;
        width: 2rem;
        height: 2rem;
        border: 2px solid #fff;
        border-radius: 2rem;
          &:hover{
            border-color: $brand-primary;
          }
          @media(max-width: 350px){
              right: -3rem;
          }
    }
    .cancel-icon{
        width: 1rem;
        height: 1rem;
        background: url('../../assets/images/icon-close-video.png') no-repeat;
        margin: 0 auto;
        left: 0;
        
    }
    .modal-content {
      display: inline-block;
      margin: 20px;
      position: relative;
      width: 80%;
      height: auto;
    }
    @media(max-width: 768px) {
      .modal-content {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
  opacity: 0
} // END OF MODAL WINDOW
//About product
.cmp-about-product {
  background: white;
  padding-top: 6.25rem;
  padding-bottom: 5.25rem;
  position: relative;
  float: left;
  width: 100%;
  @media(max-width: 1700px) {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .title {
    text-align: center;
    color: $gray-darkest;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    font-size: 1.875rem;
    font-family: $backoffice-bold;
    @media(max-width: 992px) {
      padding-bottom: 1rem;
    }
  }
  .title2 {
    color: $brand-primary;
  }
  .text-main {
    text-align: center;
    display: block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    line-height: 1.7;
    font-size: 1rem;
    color: #656775;
    font-family: $backoffice-regular;
  }
  .benefit {
    margin-bottom: 2.5rem;
  }
  .benefits-section {
    @media(max-width: 544px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .nav-link {
    font-size: 1.375rem;
    font-family: $backoffice-light;
    padding-bottom: 0;
    color: $gray-darkest;
    border: 1px solid #fff;
    &:hover {
      cursor: pointer;
    }
    @media(max-width: 690px) {
      font-size: 1.25rem;
      padding-left: 5px;
      padding-right: 5px;
    }
    @media(max-width: 600px) {
      font-size: 1rem;
      text-align: center;
      line-height: 1.25rem;
    }
  }
  a.nav-link:hover {
    color: $brand-primary;
    border-style: none;
    border: 1px solid #fff;
  }
  .nav-tabs .nav-item .nav-link.active {
    background: #fff;
    color: $brand-primary !important;
    font-family: $backoffice-light;
    border-bottom: 1px solid $brand-primary !important;
    font-stretch: extra-expanded;
    &:focus {
      outline: none;
    }
  }
  .icon-area,
  .icon-area3 {
    width: 100%;
    height: 67px;
    margin-bottom: 1.25rem;
  }
  .icon-area3 {
    padding-top: 0.5rem;
  }
  .i {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
  .icon1 {
    background: url('../../assets/images/icon-benefits-buy1.png');
  }
  .icon2 {
    background: url('../../assets/images/icon-benefits-buy2.png');
  }
  .icon3 {
    background: url('../../assets/images/icon-benefits-buy3.png');
  }
  .icon4 {
    background: url('../../assets/images/icon-benefits-buy4.png');
  }
  .icon5 {
    background: url('../../assets/images/icon-benefits-buy5.png');
  }
  .icon6 {
    background: url('../../assets/images/icon-benefits-sup1.png');
  }
  .icon7 {
    background: url('../../assets/images/icon-benefits-sup2.png');
  }
  .icon8 {
    background: url('../../assets/images/icon-benefits-sup3.png');
  }
  .icon9 {
    background: url('../../assets/images/icon-benefits-sup4.png');
  }
  .icon10 {
    background: url('../../assets/images/icon-benefits-sup5.png');
  }
  .text-benefit {
    font-size: 1.125rem;
    font-family: $backoffice-regular;
    color: #656775;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.25rem;
    height: 2.5rem;
    @media(max-width: 768px) {
      height: auto;
    }
  }
  .ben {
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    @media(min-width: 1400px) {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    @media(max-width: 768px) {
      margin: 1rem auto;
    }
  }
}

#footer {
  width: 100%;
  float: left;
}



