    @import 'src/styles/variables';
    .btn-outline-primary:focus {
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0);
    }

    .container-fluid {
      display: block;
      width: 100%;
    }

    @media (min-width: 1200px) {
      collapse {
        display: block;
      }
    }

    nav {
      padding-right: 0 !important;
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 20;
    }

    .navbar .navbar-toggleable-md .navbar-light .bg-faded {
      border-bottom: 5px solid $gray-darkest;
      padding-top: 8px;
      padding-bottom: 8px;
    } //button for login and ContactUs
    .btn-outline-primary {
      border-radius: 3rem;
      width: 7.5rem;
      height: 2.5rem;
      text-align: center;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      font-size: 0.875rem;
      margin-left: 0rem;
      margin-top: 2.2rem;
      padding-top: 0;
      padding-bottom: 0;
      font-family: $backoffice-regular;
      border: 3px solid $brand-primary;
      line-height: 2.125rem; // @media(max-width: 1220px) {
      //     width: 6rem;
      // }
      @media(max-width: 991px) {
        margin-top: 1rem; // width: 7.5rem;
        padding-bottom: 0.125rem;
      }
    }

    .btn-outline-primary:hover {
      background: $gray-darkest;
      color: #6ee7b0;
      border: 3px solid #6ee7b0;
      cursor: pointer;
    }

    .btn-outline-primary:focus {
      outline: none;
      border: 3px solid #6ee7b0;
    }

    .btn-primary {
      border-radius: 3rem;
      width: 7.5rem;
      height: 2.5rem;
      text-align: center;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      font-size: 0.875rem;
      margin-top: 2.2rem;
      padding-top: 0;
      padding-bottom: 0;
      font-family: $backoffice-regular;
      line-height: 2.5rem; // @media(max-width: 1220px) {
      //     width: 6rem;
      // }
      @media(max-width: 991px) {
        margin-top: 0rem; // width: 7.5rem;
        padding-bottom: 0.125rem;
      }
    }

    .btn-primary:focus {
      outline: none;
    }

    .btn-primary:hover {
      background: #6ee7b0;
      border: 1px solid #6ee7b0;
      cursor: pointer;
    }

    .float-xs-right {
      padding-top: 4px;
      padding-bottom: 4px;
      width: 100% !important;
      padding-left: 15px;
    }

    .navbar {
      padding: 0 1rem;
      padding-bottom: 2.5rem;
      background: $dark-blue;
      padding-left: 3rem;
      padding-right: 3rem;
      @media(max-width: 1220px) {
        padding-right: 1rem;
      }
      @media(max-width: 991px) {
        width: 100%;
        padding: 2.375rem 1rem;
      }
    }

    li.active {
      background: $dark-blue;
    }

    .navbar-brand,
    .navbar-nav li a {
      color: #fff !important;
      font-size: 1rem;
      padding-top: 40px;
      border-top: 3px solid $gray-darkest;
      font-family: $backoffice-regular;
      @media(max-width: 991px) {
        padding-top: 6px;
        border-top: none;
      }
      &:hover {
        color: #3ecf8c !important;
      }
    }

    .navbar-brand {
      padding-top: 36px;
      @media(max-width: 991px) {
        padding-top: 4px;
        border-top: none;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .navbar-toggler-icon {
      width: 30px;
      height: 30px;
      background: url('../../assets/images/icon-menu-toggle.png');
      cursor: pointer;
    }

    .navbar-brand:hover {
      color: #fff;
    }

    .navbar-toggleable-md .navbar-nav {
      flex-direction: initial;
      position: absolute;
      right: 25px;
    }

    .logo-icon {
      width: 112px;
      height: 35px;
      float: left;
      margin-right: 5px;
      margin-top: 1px;
    }

    .img-responsive {
      width: 100%;
    }

    .navbar-toggler-right {
      border: none !important;
      padding: 2px 4px;
      &:focus {
        outline: none;
      }
    }

    .navbar-nav {
      @media(max-width: 991px) {
        text-align: center;
        width: 100%; // height: 350px;
        height: 12rem;
        flex-direction: column !important;
        right: 0 !important;
        background: $gray-darkest;
        border-bottom: 3px solid #fff;
      }
      li {
        margin-left: 2.5rem;
        height: 5rem;
        @media(max-width: 1220px) {
          margin-left: 1.25rem;
        }
        @media(max-width: 991px) {
          margin-left: 0;
          height: 2.5rem;
        } // a {
        //     @media(max-width: 1300px) {
        //         padding-left: 0;
        //         padding-right: 0;
        //     }
        // }
        a:hover {
          color: $brand-primary;
          cursor: pointer;
        }
        a.login {
          border: 1px solid $brand-primary;
          background: $dark-blue;
          width: 7.5rem;
          height: 2.5rem;
          font-size: 0.875rem;
          color: #3ecf8c;
          text-align: center;
          &:hover {
            background: $brand-primary;
            color: #ffffff;
            cursor: pointer;
          }
          &:focus {
            outline: 0;
          }
        }
      }
      .active>a {
        background: $dark-blue;
        color: $brand-primary;
        box-shadow: none;
        padding-top: 2.5rem;
        border-top: 3px solid mediumspringgreen;
        &:hover {
          background: $dark-blue;
          color: $brand-primary;
          cursor: pointer;
        }
        @media(max-width:991px) {
          padding-top: 0.5rem;
          border-top: 3px solid $gray-darkest;
        }
      }
    }

